<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    {% extends 'myblog/base.html' %}
</head>
<body>
<article>
    {% block aside %}
        <aside class="l_box">
            <!--
            <div class="search">
                <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                    <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词"
                           style="color: rgb(153, 153, 153);"
                           onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                           onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
                    <input name="show" value="title" type="hidden">
                    <input name="tempid" value="1" type="hidden">
                    <input name="tbname" value="news" type="hidden">
                    <input name="Submit" class="input_submit" value="搜索" type="submit">
                </form>
            </div>
            -->
            <div class="fenlei">
                <h2>文章分类</h2>
                <ul>
                    {% for article in classify %}
                        <li><a href="/">{{ article.learn_name }}（{{ article.num_articles }}）</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tuijian">
                <h2>站长推荐</h2>
                <ul>
                    {% for recommend in recommends %}
                        <li><a href="{% url 'myblog:graphic' recommend.recommend_graphic_id_id %}">{{ recommend.recommend_graphic_id }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tuijian">
                <h2>点击排行</h2>
                <ul>
                    {% for view in views %}
                        <li><a href="{% url 'myblog:graphic' view.graphic_id %}">{{ view.graphic_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cloud">
                <h2>标签云</h2>
                <ul>
                    {% for label in labels %}
                        <a href="/">{{ label.label_name }}</a>
                    {% endfor %}
                </ul>
            </div>
            <!--
                <div class="guanzhu">
                    <h2>关注我 么么哒</h2>
                    <ul>
                        <img src="/static/myblog/images/wx.jpg">
                    </ul>
                </div>
                -->
        </aside>
    {% endblock %}
    {% block main %}
        <main class="r_box">
            {% for post in posts %}
                <li><i><a href="/"><img src="{{ MEDIA_URL }}{{ post.article_cover }}"></a></i>
                    <h3><a href="/">{{ post.article_title }}</a></h3>
                    <p>{{ post.article_about }}</p>
                </li>
            {% endfor %}
            <!--
                <div class="pagelist"><a class="allpage"><b>99</b></a>&nbsp;&nbsp;<a href="#"
                                                                                     class="curPage">1</a>&nbsp;&nbsp;<a
                        href="#" onclick="page(2)">2</a>&nbsp;&nbsp;<a href="#" onclick="page(3)">3</a>&nbsp;&nbsp;<a href="#"
                                                                                                                      onclick="page(4)">4</a>&nbsp;&nbsp;<a
                        href="#" onclick="page(5)">5</a>&nbsp;&nbsp;<a href="#" onclick="page(6)">6</a>&nbsp;&nbsp;<a href="#"
                                                                                                                      onclick="page(7)">7</a>&nbsp;&nbsp;<a
                        href="#" onclick="page(8)">8</a>&nbsp;&nbsp;<a href="#" onclick="page(9)">9</a>&nbsp;&nbsp;<a href="#"
                                                                                                                      onclick="page(2)">下一页</a>
                </div>
                -->
        </main>
    {% endblock %}
</article>
</body>
</html>
